<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- コンソールにログを出力する設定 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %-5level [%thread] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- INFOレベル以上のログを出力-->
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>